<form [formGroup]="form" (submit)="save()">
  <div>Name: <input formControlName="name"></div>
  <div>Age: <input type="number" formControlName="age"></div>
  <button type="submit">Save</button>
</form>
<div>
  <p>{{getCounter()}} seconds from opening the page</p>
  <ul>
    <li *ngFor="let person of people">
      {{person.name}} - age {{person.age}}
    </li>
  </ul>
</div>
